//样式参考ant-mobile、vant

@base-color: #80D0C7; //基本颜色
@base-border-color: #ebedf0;
@base-border-radius: 5px;
@base-text-color: #323233;

@warning-color: #ff976a; //警告颜色

@tabs-text-color: #646566;

@loading-color: #c8c9cc;
@loading-text-color: #969799;

@navbar-height: 47px;
@navbar-text-color: #1989fa;
