//样式参考ant-mobile、vant

@base-color: #80D0C7; //基本颜色
@base-border-color: #ebedf0;
@base-border-radius: 5px;

@warning-color: #ff976a; //警告颜色
@button-text-color: #323233;

@tabs-text-color: #646566;

@loading-color: #c8c9cc;
@loading-text-color: #969799;
